<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Librelandia</title>
</head>
<body>
<div>
    <h1><strong> Librelandia </strong></h1>
</div>

<div>
    <nav>
        <ul>
            <li ><a href="/logout">Logout</a></li>
            <li><a href="libri.html"><i>Libri</i></a></li>
            <li><a href="/modifica">Modifica</a> </li>
        </ul>
    </nav>
</div>

<div>
    <section>
        <h2>Chi siamo ?</h2>
        <p> Siamo una piccola associazione formata volontari che salva i Libri e li rende fruibili,
            online ad un costo stracciato. La nostra missione?
            è quella di far tornare a leggere le persone.
        </p>
    </section>
</div>

<div th:if="${utente != null}">
    <aside>
        <p th:text="${utente.nome}"></p>
    </aside>
</div>


</body>
</html>