<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Librelandia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<header>
    <img src="/images/librelandia-logo.png">
    <h1> Librelandia </h1>
</header>

<nav>
    <!--barra di ricerca-->
    <form th:action="@{/ricercaHome}" method="post" class="searchbar-field">
        <input type="text" th:value="${keyword}" placeholder="Cerca...">
        <button type="submit">Cerca</button>
    </form>
    <section class="menu">
        <a th:href="@{/}" class="nav-button">Home</a>
        <a th:href="@{/libri}" class="nav-button">Libri</a>
        <a th:href="@{/autori}" class="nav-button">Autori</a>
        <a th:if="${isAnonymous}" href="/login" class="nav-button">Accedi</a>
        <a th:if="${!isAnonymous}" href="/account" class="nav-button" th:text="${utente.username}"></a>
        <a th:if="${isAdmin}" href="/admin/paginaModifiche" class="nav-button">Admin</a>
    </section>
</nav>

<main>
    <section class="form-box">
        <h1>Modifica Autore</h1>

        <form th:action="@{/admin/modificaAutore/{id}(id=${id})}" method="post" th:object="${autoreDto}">
            <div class="field">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" th:field="*{nome}" required autocomplete="off">
            </div>
            <div class="field">
                <label for="Cognome">Cognome</label>
                <input type="text" name="Cognome" id="Cognome" th:field="*{cognome}" required autocomplete="off">
            </div>
            <div class="field">
                <label for="annoDiNascita">Anno di nascita</label>
                <input type="datetime-local" name="annoDiNascita" id="annoDiNascita" th:field="*{dataNascita}" required autocomplete="off">
            </div>
            </div>
            <div class="field">
                <label for="annoDiMorte">Anno di morte</label>
                <input type="datetime-local" name="annoDiMorte" id="annoDiMorte" th:field="*{dataMorte}" required autocomplete="off">
            </div>

            <div class="field">
                <label for="urlImmagine">Foto</label>
                <input type="file" name="urlImmagine" accept="image/*">
            </div>
            <div class="field">
                <label for="nazionalita">Nazionalita</label>
                <input type="text" name="nazionalita" id="nazionalita" th:field="*{nazionalita}" required autocomplete="off">
            </div>
            <div class="field">
                <button type="submit" class="submit-button">Salva Autore</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>