<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Librelandia</title>
</head>
<body>
<div>
    <h1><strong> Librelandia </strong></h1>
</div>

<div>
    <nav>
        <li><a href="login.html"><i>Accedi</i></a></li>
        <li><a href="registrazione.html"><i>Registrati</i></a></li>
        <li><a href="libri.html"><i>Libri</i></a></li>
    </nav>
</div>

<div>
    <section>
        <h2>Chi siamo ?</h2>
        <p> Siamo una piccola associazione formata volontari che salva i Libri e li rende fruibili,
            online ad un costo stracciato. La nostra missione?
            è quella di far tornare a leggere le persone.
        </p>
    </section>
</div>

</body>
</html>