<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Librelandia</title>
</head>
<body>
<header>
    <h1> Librelandia </h1>
</header>

<div>
    <nav>
        <a th:href="@{/}" class="nav-button">Home</a>
        <a th:href="@{/libri}" class="nav-button">Libri</a>
        <a th:href="@{/autori}" class="nav-button">Autori</a>
        <a th:if="${isAnonymous}" href="/login" class="nav-button">Accedi</a>
        <a th:if="${!isAnonymous}" href="/logout" class="nav-button">Logout</a>
    </nav>
</div>

<div>
    <section class="info-box">
        <h2>Chi siamo?</h2>
        <p> Siamo una piccola associazione formata volontari che salva i Libri e li rende fruibili,
            online ad un costo stracciato. La nostra missione?
            è quella di far tornare a leggere le persone.
        </p>
    </section>
</div>

<div th:if="${utente != null}">
    <aside>
         <p th:text="${utente.username}"></p>
    </aside>
</div>


</body>
</html>