<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/index.css">
        <meta charset="UTF-8">
        <title>Librelandia</title>
    </head>
    <body>
        <header>
            <img src="/images/librelandia-logo.png">
            <h1> Librelandia </h1>
        </header>

        <nav>
            <!--barra di ricerca-->
            <form th:action="@{/ricercaHome}" method="post" class="searchbar-field">
                <input type="text" th:value="${keyword}" placeholder="Cerca...">
                <button type="submit">Cerca</button>
            </form>
            <section class="menu">
                <a th:href="@{/}" class="nav-button">Home</a>
                <a th:href="@{/libri}" class="nav-button">Libri</a>
                <a th:href="@{/autori}" class="nav-button">Autori</a>
                <a th:if="${isAnonymous}" href="/login" class="nav-button">Accedi</a>
                <a th:if="${!isAnonymous}" href="/account" class="nav-button" th:text="${utente.username}"></a>
                <a th:if="${isAdmin}" href="/admin/paginaModifiche" class="nav-button">Admin</a>
            </section>
        </nav>

        <main>
            <section class="info-box">
                <h1>Chi siamo?</h1>
                <div class="info-content">
                    <img src="/images/homepage.png">
                    <p> Siamo una piccola associazione formata da volontari che si occupa di salvare i libri
                        e di renderli fruibili online ad un costo stracciato. La nostra missione?
                        Riaccendere la passione per la lettura nelle persone.
                    </p>
                </div>
            </section>

            <section class="bestsellers">
                <h1>Bestsellers</h1>
            </section>
        </main>

        <footer>
            <p>* 2025 Librelandia - Tutti i diritti riservati</p>
        </footer>
    
    </body>
</html>