<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Libri</title>
</head>
<body>

<div>
  <nav>
    <ul>
      <li> <a th:href="@{/index}">Home</a></li>
      <li th:if="${utente == null}"><a href="/login"><i>Accedi</i></a></li>
      <li th:if="${utente != null}"><a href="/logout">Logout</a></li>
      <li><a th:href="@{/libri}"><i>Libri</i></a></li>
      <li th:if="${utente != null}"><p th:text="${utente.username}"></p></li>
    </ul>
  </nav>
</div>




 <div> <h2> I nostri Libri! </h2></div>

<div th:if="${libri != null}">
    <ul>
       <li  th:each="libri : ${libri}">
           <p th:text="${libri.titolo}"></p>
       </li>
    </ul>
</div>

</body>
</html>