<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="UTF-8">
        <title>Librelandia</title>
    </head>
    <body>
        <header>
            <img src="/images/librelandia-logo.png">
            <h1> Librelandia </h1>
        </header>

        <nav>
            <!--barra di ricerca-->
            <form th:action="@{/ricercaHome}" method="post" class="searchbar-field">
                <input type="text" th:value="${keyword}" placeholder="Cerca...">
                <button type="submit">Cerca</button>
            </form>
            <section class="menu">
                <a th:href="@{/}" class="nav-button">Home</a>
                <a th:href="@{/libri}" class="nav-button">Libri</a>
                <a th:href="@{/autori}" class="nav-button">Autori</a>
                <a th:if="${isAnonymous}" href="/login" class="nav-button">Accedi</a>
                <a th:if="${!isAnonymous}" href="/account" class="nav-button" th:text="${utente.username}"></a>
                <a th:if="${isAdmin}" href="/admin" class="nav-button">Admin</a>
            </section>
        </nav>

        <main>
            <section class="form-box">
                <h1>Accedi</h1>

                <form th:action="@{/login}" method="post">
                    <div class="field">
                        <label  for="username">Username</label>
                        <input type="text" name="username" id="username"  required autocomplete="off">
                    </div>

                    <div class="field" style="margin-bottom: 1rem">
                        <label  for="password">Password</label>
                        <input type="password" name="password" id="password"  required autocomplete="off">
                    </div>

                    <div class="field">
                        <button type="submit" class="submit-button">Accedi</button>
                    </div>
                    <div class="container" style="margin-top: -2.5rem;">
                        <p>
                            <a th:href="@{/password_dimenticata}" class="forgot-password">Hai dimeticato la tua password?</a>
                        </p>
                    </div>
                    <div class="container" style="margin-top: 1rem">
                        <p>Non hai un account? <a th:href="@{/register}">Registrati</a></p>
                    </div>
                </form>
            </section>

        </main>

        <footer>
            <p>* 2025 Librelandia - Tutti i diritti riservati</p>
        </footer>

    </body>
</html>