<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <title>Accesso</title>
</head>
<body>
<div>
    <h1 align="center">Accedi</h1>
</div>


<form th:action="@{/login}" method="post">
    <div>
        <label  for="username" align="center">username</label>
        <input type="text" name="username" id="username"  required autocomplete="off"> <br>
    </div>

    <div>
        <label  for="password" align="center">password</label>
        <input type="password" name="password" id="password"  required autocomplete="off"> <br>
    </div>
    <div>
        <button type="submit"> Accedi</button>
        <p>
            <a th:href="@{/password_dimenticata}" style="color: #1c87c9;">Hai dimeticato la tua password?</a>
        </p>
    </div>
</form>

<!-- Bottone di registrazione -->

<p>Non hai un account? <a href="/register">
    <button>Registrati</button>
</a></p>

</body>
</html>