<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accesso</title>
</head>
<body>
<div>
    <h1 align="center">Accedi</h1>
</div>


<form th:action="@{/login}" method="post">
    <div>
        <label  for="username" align="center">username</label>
        <input type="text" name="username" id="username" align="center" required autocomplete="off"> <br>
    </div>

    <div>
        <label  for="password" align="center">password</label>
        <input type="password" name="password" id="password" align="center" required autocomplete="off"> <br>
    </div>
    <div>
        <button type="submit" align="center"> Accedi</button>
    </div>
</form>

<!-- Bottone di registrazione -->

<p>Non hai un account? <a href="/register">
    <button align="center">Registrati</button>
</a></p>

</body>
</html>