<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>myAccount</title>
</head>
<body>
<header>
    <img src="/images/librelandia-logo.png">
    <h1> Librelandia </h1>
</header>

<nav>
    <!--barra di ricerca-->
    <form th:action="@{/ricercaHome}" method="post" class="searchbar-field">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Cerca...">
        <button type="submit">Cerca</button>
    </form>

    <section class="menu">
        <a th:href="@{/index}" class="nav-button">Home</a>
        <a th:href="@{/libri}" class="nav-button">Libri</a>
        <a th:href="@{/autori}" class="nav-button">Autori</a>
        <a th:if="${isAnonymous}" href="/login" class="nav-button">Accedi</a>
        <a th:if="${!isAnonymous}" href="/myAccount" class="nav-button" th:text="${utente.credenziali.username}"></a>
        <a th:if="${isAdmin}" href="/admin/paginaModifiche" class="nav-button">Admin</a>
    </section>
</nav>

<main>
    <div class="form-box" style="padding-bottom: 1rem;">
        <h1>Dati utente</h1>

        <div>
            <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
            <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
            <p><strong>Email:</strong> <span th:text="${utente.email}"></span></p>
            <p><strong>Username:</strong> <span th:text="${utente.credenziali.username}"></span></p>
        </div>

        <div class="actions">
            <a href="/logout" style="text-decoration: none"><button type="button" class="submit-button" style="width: 15vw; height: 8vh">Esci</button></a>
        </div>
    </div>

    <section style="margin: 1rem 2rem;" th:if="${!isAdmin}">
        <h1>Le tue recensioni</h1>
        <div th:if="${utente.recensioni != null and not #lists.isEmpty(utente.recensioni)}" class="recensione-container" th:each="recensione : ${utente.recensioni}">
            <h2 th:text="${recensione.libro.titolo}"></h2>
            <p th:text="'Voto: ' + ${recensione.voto} + '.0'">Voto</p>
            <h3><strong th:text="${recensione.utente.credenziali.username}">Utente</strong>:</h3>
            <h3 th:text="${recensione.titolo}">Testo recensione</h3>
            <p th:text="${recensione.testo}">Testo recensione</p>
            <div th:if="${!isAnonymous}" style="width: 100%; display: flex; justify-content: space-around;">
                <a th:href="@{/modificaRecensione/{id}(id=${recensione.id})}"><button type="submit" class="button">modifica</button></a>
                <form th:action="@{/cancellaRecensione/{id}(id=${recensione.id})}" method="post">
                    <button type="submit" class="button">Elimina</button>
                </form>
                <hr/>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(utente.recensioni)}" class="message">
            <p>Non hai ancora recensito nessun libro che aspetti!!!!</p>
        </div>
    </section>
</main>
</body>
</html>