<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>SiwBooks</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>

    <div class="logo-title">
        <span><h1>SiwBooks</h1></span>
    </div>

    <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/books" class="nav-link">Libri</a>
        <a href="/authors" class="nav-link">Autori</a>
        <a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
        <a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
        <a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
    </nav>
</header>

<main>
    <form th:action="@{/ricercaHome}" method="post" class="searchbar-field">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Cerca...">
        <button type="submit">Cerca</button>
    </form>


    <section>
        <div th:if="${#lists.isEmpty(libri) and #lists.isEmpty(autori)}" class="message">
            Nessuna corrispondenza trovata.
        </div>

        <h1 th:if="${not #lists.isEmpty(autori)}">Libri</h1>
        <div th:if="${not #lists.isEmpty(libri)}" class="grid-container">
            <div class="carousel-card" th:each="book : ${libri}">
                <a th:href="@{'/book/' + ${book.id}}">
                    <img src="/images/homepage-image.png">
                    <div class="carousel-card-details">
                        <h4 th:text="${book.titolo}">Titolo</h4>
                        <p th:text="${book.annoPubblicazione}">Anno di pubblicazione</p>
                        <div th:if="${book.scrittori != null}" th:each="autore : ${book.scrittori}">
                            <p th:text="|${autore.nome} ${autore.cognome}|">Autore</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h1 th:if="${not #lists.isEmpty(libri)}">Autori</h1>
        <div th:if="${not #lists.isEmpty(autori)}" class="grid-container">
            <div class="carousel-card" th:each="author : ${autori}">
                <a th:href="@{'/author/' + ${author.id}}">
                    <img src="/images/homepage-image.png">
                    <div class="carousel-card-details">
                        <h4 th:text="${author.nome} + ' ' + ${author.cognome}">Nome Cognome</h4>
                        <p th:text="${#temporals.format(author.dataNascita, 'dd/MM/yyyy')} + ' - ' +
								${author.dataMorte != null ? #temporals.format(author.dataMorte, 'dd/MM/yyyy') : '...'}">Data</p>
                        <p th:text="${author.nazionalita}">Nazionalita</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
</footer>

</body>
</html>