body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f9f9f9;
     color: #333;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

main {
     flex: 1; /* Per fare si che il main occupi tutto lo spazio disponibile */
}

/* Header */
header {
     background-color: #93A58F;
     align-items: center;
     display: flex;
     justify-content: center;
}

header img {
     max-height: 15vh;
}

header h1 {
     color: white;
     font-weight: 800;
     font-size: 40px;
}

/* Menù */
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.5rem;
     height: 5vh;
     background-color: #2F443B;
}

.searchbar-field {
     width: 40%;
     display: flex;
}

.searchbar-field input {
     width: 80%;
     height: 4vh;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: white;
     padding: 4px 6px;
     font-size: 16px;
     margin: 0.5rem 1rem 0.5rem 2rem;
}

.searchbar-field button {
     width: 15%;
     height: auto;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: #F7F9F4;
     color: #2F443B;
     padding: 4px 6px;
     font-size: 16px;
     margin: 0.5rem 0;
}

.menu {
     width: 50%;
     display: flex;
     justify-content: space-evenly;
}

.nav-button {
     text-decoration: none;
     color: white;
     font-size: 18px;
}

/* Footer */
footer {
     text-align: center; /* testo centrato orizzontalmente */
     width: 100%; /* prende l'intera larghezza */
     /*border-top: 0.5px solid #2F443B; /* bordo superiore */
     padding-top: 1rem; /* per aumentare l'altezza del footer */
     background-color: #93A58F;
}

footer p {
     color: #2F443B;
     font-weight: 600;
}

/* Form */
.form-box {
     border: 0.5px solid lightgrey;
     border-radius: 12px;
     margin: 10vh 20vw;
     padding: 1rem 2rem 0 2rem; /* top - right - bottom - left */
     background-color: #F7F9F4;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.form-box h1 {
     font-size: 32px;
     color: #2F443B;
     text-align: center;
}

.field {
     margin: 0 2rem;
     height: 15vh;
     width: 45vw;
}

.field label {
     font-size: 18px;
     font-weight: 600;
     text-decoration: none;
}

.field input {
     width: 100%;
     height: 5vh;
     margin-top: 1vh;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: white;
     padding: 4px 6px;
     font-size: 16px;
}

.button {
     width: 20vw;
     height: 10vh;
     display: block; /* Rende il pulsante un elemento a livello di blocco */
     margin: 0 auto; /* Centra orizzontalmente */
     background-color: #446054;
     border: 0.5px solid grey;
     border-radius: 6px;
     color: white;
     font-size: 24px;
}

.button:hover {
     background-color: #2F443B;
}

.container {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.container a {
     color: #76b8b6;
}

.forgot-password {
     color: #76b8b6;
     font-size: 14px;
}

.message {
     color: lightgrey;
     font-size: 14px;
}