body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f9f9f9;
     color: #333;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

main {
     flex: 1; /* Per fare si che il main occupi tutto lo spazio disponibile */
}

/* Header */
header {
     background-color: #93A58F;
     align-items: center;
     display: flex;
     justify-content: center;
}

header img {
     max-height: 15vh;
}

header h1 {
     color: white;
     font-weight: 800;
     font-size: 40px;
}

/* Menù */
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.5rem;
     height: 5vh;
     background-color: #2F443B;
}

.searchbar-field {
     width: 40%;
     display: flex;
}

.searchbar-field input {
     width: 80%;
     height: 4vh;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: white;
     padding: 4px 6px;
     font-size: 16px;
     margin: 0.5rem 1rem 0.5rem 2rem;
}

.searchbar-field button {
     width: 15%;
     height: auto;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: #F7F9F4;
     color: #2F443B;
     padding: 4px 6px;
     font-size: 16px;
     margin: 0.5rem 0;
}

.menu {
     width: 50%;
     display: flex;
     justify-content: space-evenly;
}

.nav-button {
     text-decoration: none;
     color: white;
     font-size: 18px;
}

/* Footer */
footer {
     text-align: center; /* testo centrato orizzontalmente */
     width: 100%; /* prende l'intera larghezza */
     /*border-top: 0.5px solid #2F443B; /* bordo superiore */
     padding-top: 1rem; /* per aumentare l'altezza del footer */
     background-color: #93A58F;
}

footer p {
     color: #2F443B;
     font-weight: 600;
}

/* Form */
.form-box {
     border: 0.5px solid lightgrey;
     border-radius: 12px;
     margin: 10vh 20vw;
     padding: 1rem 2rem 0 2rem; /* top - right - bottom - left */
     background-color: #F7F9F4;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.form-box h1 {
     font-size: 32px;
     color: #2F443B;
     text-align: center;
}

.field {
     margin: 0 2rem;
     height: 15vh;
     width: 45vw;
}

.field label {
     font-size: 18px;
     font-weight: 600;
     text-decoration: none;
}

.field input {
     width: 100%;
     height: 5vh;
     margin-top: 1vh;
     border: 0.5px solid grey;
     border-radius: 6px;
     background-color: white;
     padding: 4px 6px;
     font-size: 16px;
}

.submit-button {
     width: 20vw;
     height: 10vh;
     display: block; /* Rende il pulsante un elemento a livello di blocco */
     margin: 0 auto; /* Centra orizzontalmente */
     background-color: #446054;
     border: 0.5px solid grey;
     border-radius: 6px;
     color: white;
     font-size: 24px;
}

.submit-button:hover {
     background-color: #2F443B;
}

.container {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.container a {
     color: #76b8b6;
}

.forgot-password {
     color: #76b8b6;
     font-size: 14px;
}

.message {
     color: lightgrey;
     font-size: 14px;
}

.checkboxes {
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 15px 0;
     height: auto;
}

.checkboxes input[type="checkbox"] {
     width: 18px; /* Dimensioni coerenti per la checkbox */
     height: 18px;
     cursor: pointer; /* Puntatore interattivo */
     margin-bottom: 1rem;
}

.checkboxes label {
     font-size: 1rem;         /* Dimensione del testo */
     margin-left: 5px;        /* Spazio tra la checkbox e il testo */
     cursor: pointer;         /* Anche la label è interattiva */
     display: inline-flex;    /* Align testo e checkbox */
     align-items: center;     /* Allinea centrato con checkbox */
     gap: 5px;                /* Spazio tra checkbox e testo */
}

/* Bottoni */
.generic-button {
     width: 20vw;
     height: 10vh;
     display: block; /* Rende il pulsante un elemento a livello di blocco */
     margin: 0 auto; /* Centra orizzontalmente */
     background-color: #446054;
     border: 0.5px solid grey;
     border-radius: 6px;
     color: white;
     font-size: 24px;
     text-decoration: none;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.generic-button:hover {
     background-color: #2F443B;
}

/* Vista libri e autori */
.grid-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr); /* 2 libri per riga */
     gap: 10px;
     padding: 20px;
     margin-top: -1rem;
     align-items: stretch; /* Questo forza tutte le card a estendersi */
}

.card {
     width: 30vw;
     height: auto;
     margin: 5vh auto;
     box-shadow: 0 4px 8px grey;
     display: flex;
     flex-direction: row;
}

.card a {
     display: flex;
     text-decoration: none;
     color: inherit;
     width: 100%;
}

.card img {
     width: 200px;
     height: auto;
     object-fit: cover;
     display: inline-block;
}

.card-details {
     padding: 1rem;
     width: 100%;
     display: inline-block;
}

.libri-scritti {
     display: inline-block;
}

.libri-scritti a {
     text-decoration: underline;
     margin: 0 5px;
}